<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"
      layout:decorate="~{layouts/home}">

    <div layout:fragment="content">
        <div class="main-img-container">
            <div class="overlay"></div>
            <img src="upload/web_images/slider1.jpg" alt="이미지 설명">
            <div class="text-overlay">
                <p class="header-1">기술 비즈니스 전문기업</p>
                <p class="header-2">공간정보 분야의 선두주자 지오앤</p>
                <p class="text-1">
                    주식회사 지오앤은 제 4차 산업혁명의 핵심 인프라인 공간정보 분야에서
                    끊임없는 노력으로 꾸준한 성장을 이룩하고 있습니다.
                </p>
                <p class="text-2">
                    도로대장 통합 구축‧관리, 정밀도로지도 기반 디지털 트윈,
                    3차원 가상도로 구축 등 디지털 SOC 관리 선도기업으로서 다양한 공간정보 콘텐츠,
                    솔루션 개발을 위해 매진하고 있습니다.
                </p>
            </div>
        </div>
    </div>


</html>