<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer">
        <div class="footer_grid-container">
<!--            <div class="top" id="footer_grid-item">-->
<!--                <div class="top2">-->
<!--                    <h3 class="footer_head">CONTACT US</h3>-->
<!--                    <p class="footer_p">Tel: 031-979-0717</p>-->
<!--                    <p class="footer_p">E-mail: geon@geonspace.co.kr</p>-->
<!--                </div>-->
<!--            </div>-->
            <div class="bot" id="footer_grid-item">
                <p class="footer_p">대표이사: 권찬오</p>
                <p class="footer_p">회사명: 주식회사 지오앤</p>
                <p class="footer_p">사업자등록번호: 474-88-00887</p>
                <p class="footer_p">Fax: 031-978-0719</p>
                <p class="footer_p">본사: 강원도 횡성군 횡성읍 문화체육로 52, 301호</p>
                <p class="footer_p">연구소: 경기도 고양시 덕양구 토당로42번길 21, 허브온빌딩</p>
            </div>
        </div>
        <div class="f_bot" id="footer_grid-item">
            <p class="footer_p">COPYRIGHTⓒ (주)지오앤 All rights reserved</p>
        </div>
    </footer>
</html>