<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="header">
        <div class="nav_div">
            <a href="/">
                <img class="logo_img" src="upload/de-Identification/img/logo.png" alt="">
            </a>
            <nav class="navbar">
                <ul class="navbar_list" id="fromInsideOut">
                    <li><a href="/intro">소개</a></li>
                    <li><a href="/servicePage">서비스</a></li>
                    <li><a href="/docsPage">Docs</a></li>
                    <li><a href="/contactPage">Contact Us</a></li>
                    <li><a href="/login">로그인</a></li>
                </ul>
            </nav>
        </div>
    </header>
</html>