<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="sidebar">
        <nav class="sidebar">
            <a href="/">
                <img class="side_logo_img" src="upload/de-Identification/img/logo.png" alt="">
            </a>
            <ul>
                <li><a href="/servicePage">DashBoard</a></li>
                <li><a href="/fileuploadPage">파일 업로드</a></li>
                <li><a href="/jschFileListView">업로드 파일</a></li>
                <li><a href="#">비식별화</a></li>
                <li><a href="#">메뉴5</a></li>
                <li><a href="#">메뉴6</a></li>
                <li class="logout"><a href="#">로그아웃</a></li>
            </ul>
        </nav>
    </div>
</html>